{{ attach_library('movie/movie_custom_library') }}
<h4>Welcome to our movie reservation page</h4>

<form action="#">
  <label for="movie-genre">
    Please select movie genre for which you would like to make a reservation:
  </label>

  <select name="movie-genre" id="movie-genre">
    <option value="0">All movies</option>
    {% for genre in genres %}
      <option value="{{ genre.id }}">{{ genre.name }}</option>
    {% endfor %}
  </select>
  <button id="searchButton" type="button">Search</button>
</form>
<hr>

<div>
  <label for="customerName">Please enter your name: </label>
  <input type="text" name="customerName" id="customerName">
</div>

<div id="moviesByGenre">
  {% for movie in movies %}
    <br>
    <div class="inactive" id="movieitem-{{ movie.id }}">
      <h5>{{ movie.label }}</h5>
      <p> Description: {{ movie.field_description.value|striptags }} </p>
      <img src="{{ file_url(movie.field_movie_cover_image.entity.fileuri) }}" alt="">
      <div>
        Available days:
        {% set allowed_values = movie.field_availabile_days.getSetting('allowed_values') %}
        {% set list_values = movie.field_availabile_days.getValue() %}
        {% if list_values is empty %}
          <p>Movie is not available.</p>
        {% endif %}
        <div id="available-days-{{ movie.id }}">
          {% for list_value in list_values %}
            <div data-day="{{ allowed_values[list_value['value']] }}">
              {{ allowed_values[list_value['value']] }}
            </div>
          {% endfor %}
        </div>
      </div>
      <hr>
    </div>
  {% endfor %}
</div>
