{{ attach_library('movie/movie_custom_library') }}
<h4>Welcome to our movie reservation page</h4>

<form action="#">
  <label for="movie-genre">
    Please select movie genre for
    <wh></wh>
    ich you would like to make a reservation:
  </label>

  <select name="movie-genre" id="movie-genre">
    <option value="0">All movies</option>
    {% for genre in genres %}
      <option value="{{ genre.id }}">{{ genre.name }}</option>
    {% endfor %}
  </select>
  <button id="searchButton" type="button">Search</button>
</form>
<hr>

<div>
  <label for="customerName">Please enter your name: </label>
  <input type="text" name="customerName" id="customerName">
  <div id="optIn">
    <a>Would you like to opt in?</a>
  </div>
</div>


<div id="dialog-opt-1" hidden="true">
  <form id="form1">
    <label for="firstName">First name:</label>
    <input required type="text" name="firstName" id="firstName"> <br> <br>

    <label for="lastName">Last name:</label>
    <input required type="text" name="lastName" id="lastName"> <br> <br>

    <label for="email">Email:</label>
    <input required type="email" name="email" id="emailInput"> <br> <br>

    <label>Gender:</label><br>
    <input type="radio" id="male" name="gender" value="male">
    <label for="male">Male</label><br>
    <input type="radio" id="female" name="gender" value="female">
    <label for="female">Female</label><br><br>

    <button id="next1">Proceed</button>
  </form>
</div>

<div id="dialog-opt-2" hidden="true">
{#  <label for="country">Country:</label>#}
{#  <select name="country" class="countries" id="countryId">#}
{#    <option value="">Select Country</option>#}
{#  </select> <br>#}

{#  <label for="state">State:</label>#}
{#  <select name="state" class="states" id="stateId">#}
{#    <option value="">Select State</option>#}
{#  </select> <br>#}

{#  <label for="city">City:</label>#}
{#  <select name="city" class="cities" id="cityId">#}
{#    <option value="">Select City</option>#}
{#  </select> <br> <br>#}

  <button id="next2">Proceed</button>
</div>

<div id="dialog-opt-3" hidden="true">
  <label for="email2">Email:</label>
  <input type="email" name="email2"> <br> <br>

  <label for="email3">Enter email again:</label>
  <input type="email" name="email3"> <br> <br>

  <label for="tel">Phone:</label>
  <input type="phone" name="phone"> <br> <br>

  <button id="next3">Submit</button>
</div>

<div id="moviesByGenre">
  {% for movie in movies %}
    <br>
    <div class="inactive" id="movieitem-{{ movie.id }}" data-movieitemid="{{ movie.id }}">
      <h5>{{ movie.label }}</h5>
      <p> Description: {{ movie.field_description.value|striptags }} </p>
      <img src="{{ file_url(movie.field_movie_cover_image.entity.fileuri) }}" alt="">
      <div>
        Available days:
        {% set allowed_values = movie.field_availabile_days.getSetting('allowed_values') %}
        {% set list_values = movie.field_availabile_days.getValue() %}
        {% if list_values is empty %}
          <p>Movie is not available.</p>
        {% endif %}
        <div id="available-days-{{ movie.id }}">
          {% for list_value in list_values %}
            <div data-day="{{ allowed_values[list_value['value']] }}">
              {{ allowed_values[list_value['value']] }}
            </div>
          {% endfor %}
        </div>
      </div>
      <hr>
    </div>
  {% endfor %}
</div>

{#<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>#}
{#<script src="//geodata.solutions/includes/countrystatecity.js"></script>#}
